body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 71, 71, 0.843);
    width: 60vw;
    height: 20em;
    padding: 2em;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    height: 3em;
    box-sizing: border-box;
    padding: 1em;
    width: 25em;
    margin: 0.5em;
    border-radius: 4px;
    border: none;
}

input:focus{
    outline: solid 2px rgb(57, 128, 204);
    outline-offset: 1.2px;
}

button{
    width: 25em;
    height: 3em;
    background-color: rgb(57, 128, 204);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(57, 128, 204, 0.8);
}